.hello {
    font-size: 1.1em;

}

.dashboard {
    font-size: 2.0em;
    width: 90%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

.tableau {
    display: flex;
    flex-direction: row;
}
